
<h2>Your result</h2>

<p>You typed: <%=@input%></p>

<% if @included %>
  <% if @english_word %>
    <p><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
  <% else %>
    <p>Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
  <% end %>
<% else %>
  <p>Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %></p>
<% end %>

<br>
<%= link_to "play again", new_path %>
